*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.input {
    background-image: url(./assets/search.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: .75rem .5rem;
}
